<div class="card bg-light text-left" >
  <!--<div class="card-header">Control de usuarios</div> -->
  <div class="card-body ">
    <h5 class="card-title">Control de Monedas</h5>
    <md-button class="md-primary md-raised" ng-click="showConfirm($event)" id="dialog">
      Actualizar
    </md-button>
    <div ng-if="status" id="status">
    <b layout="row" layout-align="center center" class="md-padding">
      {{status}}
    </b>
  </div>
    <hr>
    <table class="table  table-hover " dt-instance="dtInstance" dt-options="dtOptions"  datatable="ng" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Moneda</th>
					<th>Valor(pesos)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="coin in coins" >
          <td class="details-control">{{ coin.coin_id }}</td>
          <td>{{ coin.coin_name }}</td>
          <td>{{ coin.coin_country }}</td>
					<td>{{ coin.coin_factor | currency }}</td>
				</tr>
      </tbody>
    </table>
    <hr>

  </div>
</div>
