<div class="card bg-light text-left" >
    <!--<div class="card-header">Control de usuarios</div> -->
    <div class="card-body ">
      <h5 class="card-title">Prospectos</h5>
      <md-button class="md-primary md-raised" ng-click="showTabDialog($event)" id="dialog">
        Agregar prospecto
      </md-button>
      <div ng-if="status" id="status">
      <b layout="row" layout-align="center center" class="md-padding">
        {{status}}
      </b>
    </div>
      <hr>
      <table class="table  table-hover " dt-instance="dtInstance" dt-options="dtOptions"  datatable="ng" >
        <thead>
          <tr>
  
            <th>Id</th>
            <th>Nombre</th>
            <th>Corrreo</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prospect in prospects" >
                <td class="details-control">{{ prospect.prospect_id }}</td>
                <td>{{ prospect.prospect_name }}</td>
                <td>{{ prospect.prospect_mail }}</td>
                <td>{{ prospect.prospect_address }}</td>
                <td>{{ prospect.prospect_phone }}</td>
                <td><button class="btn btn-primary" ng-click="showUpdateDialog($event,prospect.prospect_id)" class="edit"><i class="fas fa-edit" ></i></button></td>
                <td><button class="btn btn-danger"  ng-click="showConfirm($event,prospect.prospect_id)" ><i class="fas fa-times"></i></button></td>
            </tr>
        </tbody>
      </table>
      <hr>
  
    </div>
  </div>
  